.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.App-header {
  background-color: #262626;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: white;
}

.Messages-message {

  display: flex;
  margin-top: 10px;
}

.Messages-message.myMessage {
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
  justify-content: center;
  align-content: center;
}

.myMessage > .Message-content {
  align-items: flex-end;
}

.Messages-message > .image {
  height: 32px;
  width: 32px;
  display: inline-block;
  margin: 0 10px -10px;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}

.Message-content > .username {
  display: block;
  color: black;
  font-size: 20px;
  padding-bottom: 4px;
}

.Message-content > .text {
  padding: 8px;
  max-width: 400px;
  margin: 0;
  background-color: rgb(132, 237, 100);
  color: white;
  display: inline-block;
  line-height: 35px;
  padding-bottom: 18px;
  padding-top: 2px;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    99% 83%,
    68% 84%,
    75% 100%,
    39% 84%,
    0 84%
  );
}

.myMessage > .Message-content .text {
  background-color: rgb(255, 153, 0);
  line-height: 6vh;


}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 45px;
}

input {
  padding: 5px;
  font-size: 18px;
  border-radius: 8px;
  border: 2px solid blue;
  width: 46em;
  box-shadow: 2px 2px black;
}
.btn {
  border-radius: 4px;
  background-color: rgb(255, 153, 0);
}
.btn:hover {
  cursor: pointer;
  padding-right: 15px;
  color: #ffffff;
  text-align: center;
  transition: 0.5s;
}
.jumbotron {
  text-align: center;
  font-style: italic;
}
.jumbotron:hover{
  text-shadow: 5px 3px gray;
}